<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="snorreedwin.no.myofirebase">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:name="snorreedwin.no.myofirebase.App">

        <activity
            android:name=".FrontpageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".FirebaseLoginWebViewActivity">
        </activity>

        <activity
            android:name=".ListFirebaseAppsActivity">
        </activity>

        <activity
            android:name=".CreateFirebaseAppActivity">
        </activity>

        <service
            android:name=".myo.MyoService">
        </service>
    </application>

</manifest>